@charset "UTF-8";
/*色縛り
/* #dfceb4,#4d4d4d,#41648c,#a2d7dd,#e6b36e,#da4747 */

/* ----------------------------------------------------------------
  base
----------------------------------------------------------------- */
html {
  font-size:62.5%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}


h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,li, p, a {
  font-size: 1.6rem;
}

ul {
  margin: 0;
}

 p {
  color: #000;
 }

a {
  color: #000;
  text-decoration: none;
}

/* ----------------------------------------------------------------
  header
----------------------------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #dfceb4;
}

h1 {
  margin: 0;
}

/* gnav
----------------------------------------------- */
.gnav {
  display: flex;
  margin: 0;
  padding: 10px;
}
.gnav > li {
  margin-left: 30px;
  transition: 0.5s;
}
.gnav > li:hover {
  opacity: 0.5;
}

/* ----------------------------------------------------------------
  conent-floud, content-inner
----------------------------------------------------------------- */

.content-floud {
  background: #fff;
}
.content-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 30px;
}

/* ----------------------------------------------------------------
  hdg
----------------------------------------------------------------- */
.hdg-l2 {
  margin: 30px 0 10px;
  color: #000;
  text-align: center;
  font-size: 3.2rem;
}

/* ----------------------------------------------------------------
  link
----------------------------------------------------------------- */
.link {
  position: relative;
  padding-left: 15px;
  transition: 0.5s;
}
.link::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  border-top: solid 2px#da4747;
  border-right: solid 2px#da4747;
  transform: translateY(-50%) rotate(45deg);
}
.link:hover {
  opacity: 0.5;
}
/* ----------------------------------------------------------------
  list
----------------------------------------------------------------- */
/* .list-anc
----------------------------------------------- */
.list-anc {
  margin-top: 20px;
  padding: 10px;
  background: #dfceb4;
}
.list-anc ul {
  display: inline-block;
  margin-top: -5px;
  padding: 0;
  list-style: none;
}
.list-anc ul > li {
  display: inline-block;
  margin-top: 5px;
  background: #fff;
}
.list-anc ul > li > a {
  display: inline-block;
  min-width: 150px;
  padding: 10px 5px;
}

/* .list-01
----------------------------------------------- */
.list-01 {
  margin-top: 20px;
  padding-left: 25px;
  list-style: none;
}

.list-01 > li {
  position: relative;
}

.list-01 > li::before {
  position: absolute;
  top: 9px;
  left: -12px;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background: #da4747;
  border-radius: 50px;
}

/* ----------------------------------------------------------------
  box
----------------------------------------------------------------- */
/* box-intro
----------------------------------------------- */
.box-intro {
  max-width: 1000px;
  width: 100%;
  margin: 10px auto;
  padding: 30px 15px;
  color: #353535;
  background: #dfceb4;
  border-radius: 3px;
  text-align: center;
}
.box-intro_txt {
  color: #353535;
}

/* box-comment
----------------------------------------------- */
.box-02 {
  margin-top: 20px;
  padding: 10px 5px;
  border: solid 1px #ccc;
}
.box-02 > *:last-child {
  margin-bottom: 0;
}

/* ----------------------------------------------------------------
  helper
----------------------------------------------------------------- */
/* text-align
----------------------------------------------- */
.ta-c {
  text-align: center;
}