@charset "UTF-8";
/*色縛り
/* #dfceb4（茶）,#4d4d4d,#41648c（紺）,#a2d7dd（水色）,#e6b36e(オレンジ),#da4747(赤) */

/* ----------------------------------------------------------------
  base
----------------------------------------------------------------- */
html {
  font-size:62.5%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}


h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,li, p, a {
  font-size: 1.6rem;
}

ul {
  margin: 0;
}

p {
  color: #000;
  margin: 0 0 20px;
}

a {
  color: #000;
  text-decoration: none;
}

/* ----------------------------------------------------------------
  header
----------------------------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #dfceb4;
}

h1 {
  margin: 0;
}

/* gnav
----------------------------------------------- */
.gnav {
  display: flex;
  margin: 0;
  padding: 10px;
}
.gnav > li {
  margin-left: 30px;
  transition: 0.5s;
}
.gnav > li:hover {
  opacity: 0.5;
}

/* ----------------------------------------------------------------
  conent-floud, content-inner
----------------------------------------------------------------- */

.content-floud {
  background: #fff;
}
.content-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 30px;
}

/* ----------------------------------------------------------------
  hdg
----------------------------------------------------------------- */
.hdg-l2 {
  margin: 30px 0 10px;
  color: #4d4d4d;
  text-align: center;
  font-size: 3.2rem;
}

.hdg-l3 {
  color: #4d4d4d;
  font-size: 2.8rem;
}
/* ----------------------------------------------------------------
  link
----------------------------------------------------------------- */
.link {
  position: relative;
  padding-left: 15px;
  transition: 0.5s;
}
.link::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  border-top: solid 2px#da4747;
  border-right: solid 2px#da4747;
  transform: translateY(-50%) rotate(45deg);
}
.link:hover {
  opacity: 0.5;
}
/* ----------------------------------------------------------------
  list
----------------------------------------------------------------- */
/* .list-anc
----------------------------------------------- */
.list-anc {
  margin-top: 20px;
  padding: 10px;
  background: #dfceb4;
}
.list-anc ul {
  display: inline-block;
  margin-top: -5px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.list-anc ul > li {
  display: inline-block;
  margin-top: 5px;
  background: #fff;
}
.list-anc ul > li > a {
  display: inline-block;
  min-width: 150px;
  padding: 10px 5px;
}

/* .list-01
----------------------------------------------- */
.list-01 {
  margin-top: 20px;
  padding-left: 25px;
  list-style: none;
}

.list-01 > li {
  position: relative;
}

.list-01 > li::before {
  position: absolute;
  top: 9px;
  left: -12px;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background: #da4747;
  border-radius: 50px;
}

/* .list-report
----------------------------------------------- */
.list-report {
  margin-top: 20px;
}

.list-report dt {
  color: #41648c;
  font-size: 1.8rem;
  font-weight: 700;
}
.list-report dd > :last-child {
  margin-top: 5px;
}

/* ----------------------------------------------------------------
  box
----------------------------------------------------------------- */
/* box-intro
----------------------------------------------- */
.box-intro {
  max-width: 1000px;
  width: 100%;
  margin: 10px auto;
  padding: 30px 15px;
  color: #353535;
  background: #dfceb4;
  border-radius: 3px;
  text-align: center;
}
.box-intro_txt {
  color: #353535;
}

/* box-01
----------------------------------------------- */
.box-01 {
  margin-top: 30px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

.box-01_img {
  margin: 10px;
}

.box-01_title-inner {
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  vertical-align: middle;
}
.box-01_title::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: -35px;
  left: 25px;
  border: solid 20px transparent;
  border-top: solid 15px #fff;
}

.box-01_main-title {
  font-size: 2rem;
}

.box-01_inner {
  padding: 10px 5px;
  background: #dfceb4;
}
/* box-02
----------------------------------------------- */
.box-02 {
  margin-top: 20px;
  padding: 10px 5px;
  border: solid 1px #ccc;
}
.box-02 > :last-child {
  margin-bottom: 0;
}


/* ----------------------------------------------------------------
  lyt
----------------------------------------------------------------- */
/* lyt-column
----------------------------------------------- */
.lyt-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
}
.lyt-column_col > :last-child {
  margin-bottom: 0;
}

.lyt-column_col > :last-child {
  margin-bottom: 0;
}

/* col-02 */
.lyt-column.col-02 > .lyt-column_col {
  width: 46%;
  margin-left: 4%;
}
.lyt-column.col-02 > .lyt-column_col:nth-of-type(n+3) {
  margin-top: 40px;
}


/* ----------------------------------------------------------------
  helper
----------------------------------------------------------------- */
/* text-align
----------------------------------------------- */
.ta-c {
  text-align: center;
}