@charset "UTF-8";

/*------- body -------*/
body {
  margin: 20px 50px;
}



/*------- header -------*/
header {
  display: flex;
  justify-content: space-between;
}

.global-nav {
  display: flex;
  list-style: none;
}

.global-nav li {
}